__pycache__/
*.py[cod]
*.sqlite3
.pytest_cache/
.venv/
.env
app/auth/firebase_service_account.json
/auth/
.coverage
htmlcov/

# Editor temp files
*.swp
*.swo
*~


logs/
*.log
celerybeat-schedule
test-results/
ops-dashboard/.angular/
staticfiles/
mobile/package-lock.json
package-lock.json
package.json

# Frontend dependencies
node_modules/
ops-dashboard/.angular/*

logs/*
